<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/index/index.css">
</head>
<body>
    <div class="main">
        <div class="loginBox">
            <div class="header">
                <h1>로그인 로고 들어갈꺼임</h1>
            </div>
            <div class="main">
                <ul class="inputSec">
                    <li>
                        <input type="text" id="email" name="email">
                    </li>
                    <li>
                        <input type="password" id="password" name="password">
                    </li>
                </ul>
                <ul>
                    <li>
                        <button id="loginBtn">login</button>
                    </li>
                    <li>
                        <button id="singInBtn">singIn</button>
                    </li>
                </ul>

            </div>
            <div class="footer">
                <h1>로그인 푸터 들어갈꺼임</h1>
            </div>
        </div>
    </div>
</body>
</html>